<meta charset="utf-8" />
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<div id="app">
  <h1>Sign in</h1> 
  <template v-if="logado">
    <p>usuario Logado: {{nome}}</p>
    <p>Perfil: Admin</p>
  </template>
  <p v-else-if="anonimo">Navegando como Anonimo</p>
  <p v-else>Nenhum usuario logado</p>
  <button @click="logado = !logado">{{logado ? "Sair": "Entrar"}}</button>
  <input type="checkbox" v-model="anonimo">
</div>

<script>
  new Vue({
    el: "#app",
    data: {
      nome: "Alexandre",
      logado: false,
      anonimo: false
    },
  });
</script> 

<style>
  button{
    cursor: pointer;
  }
</style>
